<!DOCTYPE html>
<html>
  <head>
      {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link href="{% static 'styles/style2_bs.css' %}" rel='stylesheet'>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link href="{% static 'styles/site.css' %}" rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% block title %}
      <title>Base</title>
    {% endblock title%}
  </head>
  <body>
    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header">
          <a href="/" ><h5>
              <img src="{% static "main/option_logo.jpg" %}"
              alt="My image"  height="40" width="60">
              OptionTrading
          </h5></a>
              {{ user.first_name }} {{ user.last_name }}
        </div>

        {% if user.is_authenticated %}
            <!--Staff -->
            {% if user.is_staff %}
                <h6>Staff</h6>
                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                           class="dropdown-toggle">List Example</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">List 1</a>
                            </li>
                            <li>
                                <a href="#">List 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% static "doc/ToDo List.docx" %}" class="download">ToDo</a>
                    </li>
                </ul>
            {% else %}
                    <!-- Student -->
                    <ul class="list-unstyled components">
                        <li>
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Example Reports</a>
                            <ul class="collapse list-unstyled" id="pageSubmenu">
                                <li>
                                    <a href="#">R&D</a>
                                </li>
                                <li>
                                    <a href="#">Marketing</a>
                                </li>
                                <li>
                                    <a href="#">Operations</a>
                                </li>
                                <li>
                                    <a href="#">Finance</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Portfolio -->
                        <li>
                            <a href="#profileSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Portfolio</a>
                            <ul class="collapse list-unstyled" id="profileSubmenu">
                                <li>
                                    <a href="{% url 'main:view_profile' %}">View Profile</a>
                                    <a href="{% url 'main:edit_user_profile' %}">Edit User Profile</a>
                                    <hr/>
                                    <a href="{% url 'main:change_password' %}">Change Password</a>
                                    <a href="{% url 'main:reset_password' %}">Reset Password<</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
            {% endif %}
         {% else %}
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Example Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home A</a>
                        </li>
                        <li>
                            <a href="#">Home B</a>
                        </li>
                        <li>
                            <a href="#">Home C</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
         {% endif %}
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="{% static "doc/Registrations.docx" %}" class="download">How to register</a>
                </li>
            </ul>
      </nav>
        <!-- Page Content  -->
      <div id="content">

        <!-- ToolBar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <!-- <span>Toggle Sidebar</span>  -->
            </button>

            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <!-- Login;  Log off -->
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                {% block app_toolbar %}
                {% endblock app_toolbar %}
                {% block sub_app_toolbar %}
                {% endblock sub_app_toolbar %}
              <li><a class="nav-link" href="{% url 'main:logout' %}">Log off</a></li>
            </ul>
            {% else %}
            </ul>
              <!-- Logging -->
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" href="{% url 'main:login' %}">Log in</a></li>
              <li><a class="nav-link" href="{% url 'main:register' %}">Register</a></li>
              <li><a class="nav-link" href="{% url 'main:reset_password' %}">Reset Password</a></li>
            </ul>
            {% endif %}
          </div>
        </nav>

        <!-- Page body Content  -->

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <il class="{{ message.tages }}">
                    {{ message|safe }}
                    <a href="/" class="close">X</a>
                </il>
                {% endfor %}
            </ul>
        {% endif %}
        {% block body %}
            <h1>Base_bs</h1>
        {% endblock %}
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous">
    </script>
    <!-- Optional JavaScript -->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
  </body>
</html>